version: 1.0.{build}
image: Visual Studio 2017
environment:
  PATH: C:\Python37-x64;%PATH%
  PythonDir: C:\Python37-x64

cache:
- C:\Users\appveyor\AppData\Roaming\stack\
- C:\Users\appveyor\AppData\Local\Programs\stack

build_script:
- python -m pip install numpy
- curl -sS -o stack.zip -L --insecure https://get.haskellstack.org/stable/windows-i386.zip
- 7z x stack.zip stack.exe
- stack --arch x86_64 %APPVEYOR_BUILD_FOLDER%\scripts\Package.hs

artifacts:
- path: Dataframes-Win-x64-v141.7z
  name: Dataframes-Win-x64-v141

deploy:
  - provider: S3
    access_key_id: AKIAIFQRMRF6E4OOZNMQ
    secret_access_key:
      secure: /ALZ8SK6q7DFtIN1cU4+jM3KAIFY1/AVEZOyL3lCuSDynKxr/zDZLwAuPgieeE0r
    bucket: packages-luna
    region: us-west-2
    folder: dataframes/nightly/$(APPVEYOR_REPO_COMMIT)
    artifact: Dataframes-Win-x64-v141
    set_public: true
