version: 2
jobs:
  xcode9: &xcode-job
    macos:
      xcode: "9.4.1"
    steps:
      - run:
          name: Install C++ dependencies
          command: |
            brew install fmt cmake apache-arrow boost rapidjson howard-hinnant-date pybind11 wget openssl
            brew link --force openssl
      - run:
          name: Build Python
          command: |
            wget https://www.python.org/ftp/python/3.7.0/Python-3.7.0.tar.xz
            tar xf Python-3.7.0.tar.xz
            cd Python-3.7.0
            ./configure --prefix ~/python-dist --enable-shared
            make -j 2
            make install
            ~/python-dist/bin/python3.7 -mpip install --upgrade pip
            ~/python-dist/bin/python3.7 -mpip install numpy matplotlib seaborn sklearn
            cd .. &&\
            rm -rf Python-3.7.0.tar.xz Python-3.7.0
      - run:
          name: Install XLNT library
          command: |
            cd ~
            git clone https://github.com/tfussell/xlnt.git
            cd xlnt
            mkdir build
            cd build
            cmake .. -DTESTS=OFF
            make -j 2
            make install
      - run:
          name: Install Python dependencies
          command: pip3 install numpy seaborn sklearn
      - checkout
      - run:
          name: Configure Dataframes CMake
          command: |
            mkdir build
            cd build
            cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo ../native_libs/src
      - run:
          name: Build Dataframes C++ parts on macos
          command: |
            cd build
            make -j 2
      - run:
          name: Run tests
          command: |
            ./native_libs/macos/DataframeHelperTests --report_level=detailed
  xcode10:
    <<: *xcode-job
    macos:
      xcode: "10.0.0"



workflows:
  version: 2
  build_and_test:
    jobs:
      # - xcode9
      - xcode10
